<%- include("./partials/header") %>

<h4>Search for another user by ID to create a playlist</h4>
<form action=<%= "/user/" + user.username + "/create" %> method="POST">
	<input placeholder="User ID" name="id">
	<button type="submit">Find</button>
</form>
<p><a href=<%= "/user/" + user.username %> >Your Page</a> <a href="/logout">Log out</a></p>

<%- include("./partials/header") %>