<%- include("./partials/header") %>

<div class="wrapper">
	<div class="header-wrap">
		<h2>🤘 Spotify Match</h2>
		<p>A project to help people bond over<br>the music they have in common.</p>
		<p class="sub secondary">Here's a quick <a href="/tutorial">tutorial</a></p>
		<p class="sub-second secondary">Created by <a target="_blank" href="https://paulboldyrev.me/">Paul Boldyrev</a></p>
		<% if (user) { %>
			<a href="<%= "/user/" + user.username %>" class="login-btn">Go to dashboard</a>
		<%} else { %>
			<a href="/auth/spotify" class="login-btn">Login via Spotify</a>
		<% } %>
	</div>
	<div class="preview-wrap">
		<img src="intro.png">
	</div>
</div>

<%- include("./partials/footer") %>