<%- include("./partials/header") %>

<div class="main-wrap">
    <h2>🤘 Spotify Match</h2>
    <p class="tutorial-p secondary bottom-sm">
        Hey! Thanks for checking out this project.
        I'll keep this simple so you can start matching right away.
    </p>
    <p class="tutorial-p bottom-sm">
        <b>1. Login with Spotify.</b> This allows Spotify Match to look at your song library and playlists.
    </p>
    <p class="tutorial-p bottom-sm">
        <b>2. Change your ID.</b> Help your friends find you more easily!
    </p>
    <p class="tutorial-p bottom-sm">
        <b>3. Ask your friend for their ID.</b> You will use it to match with them.
    </p>
    <p class="tutorial-p bottom-lg">
        <b>4. Create a match.</b> Use your friend's ID and click "Create Match". Check your Spotify library for the new playlist!
    </p>
    <a href="/" class="login-btn">Go back</a>
</div>

<%- include("./partials/footer") %>