<%- include("./partials/header") %>

<div class="wrapper">
    <div class="wrapper-center">
        <h1>🤘 Spotify Match</h1>
        <p class="secondary">
            Spotify Match creates a playlist of songs you and another user have in common. Here's how it works.
        </p>
        <p>
            <b>1. Login with Spotify.</b> This allows Spotify Match to look at your song library and playlists.
        </p>
        <p>
            <b>2. Change your ID.</b> Help your friends find you more easily!
        </p>
        <p>
            <b>3. Ask your friend for their ID.</b> You will use it to match with them.
        </p>
        <p>
            <b>4. Create a match.</b> Use your friend's ID and click "Create Match". Check your Spotify library for the new playlist!
        </p>
        <a href="/" class="primary-btn btn-a">Go back</a>
    </div>
</div>

<%- include("./partials/footer") %>